<%- include("../partials/header") %>

<body onload="carrinho()">
  <div class="row row-carrinho"  method="GET">
     
     
              <h4 class="mb-3">Meu Carrinho</h4>
          </h4>

          
          <table id="tabela" class="table">
              <thead>
                  <tr class="tr-carrinho">
                      <th>Produto</th>
                      <th>Preço</th>
                      <th>Quantidade</th>
                      <th></th>
                      <th>Total</th>
                  </tr>
              </thead>

              <tbody id="infosProdutos">

              </tbody>

          </table>

          <div class="divTotal">
              <h5>Total da compra: </h5>
              <h5 class="totalGeralCarrinho"> </h5>
          </div>

          <div>
              <button class="limpaCarrinho btn btn-primary btn-lg btn-block">
                  Esvaziar Carrinho
              </button>
          </div>

        

              --total a pagar--
              <li class="list-group-item d-flex justify-content-between">
                  <h6 class="my-0">TOTAL (BRL)</h6>
                  <strong>R$20</strong>
              </li>
          </ul> -->
      </div>

     
       
          <hr class="mb-4">
          <form >
              <button id="finalizarCompra" class="btn btn-primary btn-lg btn-block" type="submit">
                  <a href="/finalizado" style="color: white; text-decoration: none"> Finalizar </a>
              </button>
          </form>
      </hr>


      </div>

  </div>
</body>

<script type="text/javascript" src="../../js/carrinho.js"></script>
  <%- include("../partials/footer") %>